.pg-contact {
    .section__hero {
     height: 20rem;
    }

    .section__contactInfo {
        .container {


            .row {
                .row__block {
                    a {
                        p {
                            color: rgba(255,255,255,.8);

                        }
                    }
                }
            }

            .contactForm {
                div {
                    p {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}