
    .pg-home {
        .section__hero {
            height: 50rem;
            .container {
                padding: 60px 0;
                
                .heroImage {
                    position: absolute;
                    top: 0;
                }
                .heroTitle {
                    max-width: 380px;
                }
                 
                
            }
        }
    }

    .section__wedo {
        .container {
            .row {
                .row__title {
                    max-width: 270px; 
                }
            }
        }
    }
    .section__wedo--content {
        .content__cards {
            .card {
                position: relative;
                max-width: 382px;
                height: 322px;
                padding: 0 20px 0 0;

                .card__front {
                    max-width: 362px;
                    height: 262px;
                    min-width: 100px;
                    min-height: 100px;
                    position: relative;
                    z-index: 1;
                    background-color: #fff;
                    background-image: url(/src/assets/images/icons/icons8-figma.svg);
                    background-repeat: no-repeat;
                    background-position: 14rem 6rem;  
                    background-size: 200px;
                }

                .card__back {
                    max-width: 362px;
                    height: 262px;
                    position: relative;
                    z-index: 0;
                    bottom: 242px;
                    left: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    




.section__work {
    .section__work--content {
        .work__item {
            .work__item--img {
                overflow: hidden;
                max-width: 278px;
                max-height: 200px;

            }
        }
    }
}


.section__connect {
    .container {
        .row {
            .connect__social {
                display: flex;
                justify-content: space-between;
                max-width: 400px;
                a {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border: 2px solid #171717;
                    padding: 30px;
                    transition: all 50ms linear;
                    
                    &:hover {
                    border: 2px solid #fff;     
                    background: #fff;
                    color: #000;
                    }
                }
            }
        }
    }
}