//header

header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    opacity: 1 !important;
    z-index: 1000;
    width: 100%;

    .container {
        position: absolute;
        bottom: 0;
        height: 100%;

       
       
        
        .siteHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            padding: 0 16px;
            height: 100%;
            
                // nav button 

                .siteHamburger {
                    height: 50px;
                    width: 50px;
                    position: relative;
                    .burger {
                        position: absolute; 
                        outline: none;
                        background: transparent;
                        transition: all 250ms ease-out;
                        cursor: pointer;
                        top: 50%;
                        margin-left: 13px;
    
                        &::before, &::after {
                            content: '';
                            width: 25px;
                            height: 3px;
                            position: absolute;
                            background: #ffffff;
                            transition: all 250ms ease-out;
                            will-change: transform;
                        }
                        &::before {
                            transform: translateY(-6px);
                        }
                        &::after {
                        transform: translateY(3px);
                        }
                    }
                    
                    // line transition
                    
                    .active.burger:before {
                        transform: translateY(0) rotate(45deg);
                    }
                    
                    .active.burger:after {
                        transform: translateY(0) rotate(-45deg);
                    } 
                }
                
  
  
  
  
  
  
  
  
  
  
  
        

            .siteNav {
                display: flex;
                align-items: center;
                padding: 0 1rem;
                opacity: 0;
                margin: 0;
                padding: 0;
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #000;
                transform: translate3d(-100%, 0,0);
                transition: transform .51s cubic-bezier(.23,1,.32,1);
                opacity: 1;
                text-transform: uppercase;

    
                ul {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding-left: 1rem;
                    position: absolute;
                    top: 130px;
    
                    li {
                        padding: 10px 1rem;
                        display: flex;
                        justify-content: flex-start;              
                        
                        div {
                            position: relative;
                            overflow: hidden;
                            a {
                                transform: translateX(-101%);
                                display: block;
                            }
                        }
                       
                    }
                }
            }

            .siteLogo {
                color: white;
                width: 50px;
                z-index: 1;
            }
        }

        .siteSocial {
            left: 0;
            bottom: 0;
            position: fixed;
            transform: rotate(-90deg);
            transform-origin: 0 0;
            display: flex;
            text-transform: uppercase;

            div {
                position: relative;
                display: flex;
                align-items: center;
                transform: rotate(0);
                margin-top: 16px;


                a {
                    display: flex;
                    align-items: center;
                    color: #ffffffad;

                    span {
                        mix-blend-mode: difference;

                    }
                }
            }
                
        }
    }
}


.contactForm {
    form {
        fieldset {
            input, textarea {
                background: none;
                padding: 20px 6px;
                width: 100%;
                border-bottom: 1px solid #fff;
                max-width: 700px;
                display: block;
                outline: none;

                &:hover {
                border: 1px solid #0E97F5;
                border-radius: 4px;
                transition: all 100ms linear;
                    
                }
            }

            button {
                border: 1px solid #fff;
                border-radius: 2px;
                padding:16px;
                color: rgba(255,255,255,.8);
                width: 100%;
                max-width: 700px;
                text-transform:uppercase;
                transition: all 50ms linear;

                &:hover {
                    background: #fff;
                    color: #000;    
                }
            }
        }
    }
}

.showup {
    animation-name: showup;
    animation-duration: 600ms;

    @keyframes showup {
        from {
            transform: translateY(40px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.showup-delay {
    animation-name: showup;
    animation-duration: 600ms;
    animation-delay: 300ms;

    @keyframes showup {
        from {
            transform: translateY(40px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}


.slide {
    animation-name: slidein;
    animation-duration: 600ms;
    animation-delay: 300ms;

    @keyframes slidein {
        from {
            transform: translateX(-40px);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
        
}
}