@media only screen and (min-width: 900px) {

    //header

    header {
    
        .wrapper {

    
            .siteHeader {
                display: flex;
                justify-content: space-between;
                padding: 25px;
        

                .siteHamburger {
                    display: none;
                }

                .siteNav {
                    .siteNav__list {
                        display: flex;
                        .siteNav__listItem {
                            margin-right: 10px;
                        }
                    }
                }
                
            }
        }    
    }

    //main

   

}
